@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* shared style  */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header section  */
header {
  padding: 3rem 7rem;
}

/* nav section starts  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.nav-item-containers {
  display: flex;
  list-style: none;
}
.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-list-items a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
}

/* nav section starts  ends */

/* banner section  */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-image-conatiner {
  background-image: url("/images/Circle\ design.svg");
}
.banenr-image {
  width: 100%;
}
