@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* shared style  */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header section  */
header {
  padding: 3rem 7rem;
}

/* nav section starts  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-containers {
  display: flex;
  list-style: none;
}
.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-list-items a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
}

/* nav section starts  ends */

/* responsive codes  */

/* mobile  phone*/

@media screen and (max-width: 576px) {
  /* nav section  */
  header {
    padding: 2rem 1.5rem;
  }

  nav {
    flex-direction: column;
    gap: 30px;
    margin: auto;
  }
  nav-title {
    font-size: 1.rem;
    font-weight: 600;
  }
  .nav-list-items a {
    font-size: .75rem;
    font-weight: 500;
    margin-right: 1rem;
  }
}

/* tablet  */

@media screen and (min-width: 576px) and (max-width: 992px) {
  /* nav section  */
  header {
    padding: 2rem 3rem;
  }

  nav {
    flex-direction: column;
    gap: 30px;
    margin: auto;
  }
}

/* larger than tablet and small screen laptop device  */

@media screen and (min-width: 992px) and (max-width: 1220px) {
}
